/* General - 1.0.1
------------------------------------------------------------ */

.mtphr-widgets-metaboxer-admin-fields {
	padding-top: 10px;
}
.mtphr-widgets-metaboxer-loading-gif {
	opacity: 0;
}
.mtphr-widgets-metaboxer-appended {
	display: inline;
	margin-left: 10px;
}
.mtphr-widgets-metaboxer-widget-field {
	display: block;
	margin: 0 0 1em;
	padding: 0;
}

/* Fields */
.mtphr-widgets-metaboxer-field {
	margin-bottom: 20px;
}
#side-info-column .mtphr-widgets-metaboxer-field {
	margin-bottom: 10px;
}
.mtphr-widgets-metaboxer-field:last-child {
	margin-bottom: 20px;
}

/* Labels */
.mtphr-widgets-metaboxer-label {
	vertical-align: top;
	width: 20%;
	overflow: hidden;
	padding-bottom: 20px;
	padding-right: 20px;
}
.mtphr-widgets-metaboxer-label label {
	display: block;
	font-weight: bold;
	font-size: 12px;
}
.mtphr-widgets-metaboxer-label small {
	font-size: 10px;
	font-style: italic;
}
#side-sortables .mtphr-widgets-metaboxer-label {
	width: auto;
	margin: 0;
	padding: 0;
}

/* Content */
.mtphr-widgets-metaboxer-field-content {
	width: 80%;
	vertical-align: top;
	padding-bottom: 20px;
}
.mtphr-widgets-metaboxer-field-content-full {
	width: 100%;
}
.vertical .mtphr-widgets-metaboxer-field-content,
#side-sortables .vertical .mtphr-widgets-metaboxer-field-content {
	float: none;
	width: auto;
}

/* Clearfix */
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}

/* Textarea - 1.0.1
------------------------------------------------------------ */

.mtphr-widgets-metaboxer-textarea textarea {
	width: 96%;
}

/* List - 1.0.1
------------------------------------------------------------ */

.mtphr-widgets-metaboxer-list > table {
	width: 100%;
}
.mtphr-widgets-metaboxer-list th,
.mtphr-widgets-metaboxer-list td {
	text-align: left;
	vertical-align: top;
	padding: 0 3px;
}
.mtphr-widgets-metaboxer-list input[type="text"],
.mtphr-widgets-metaboxer-list input[type="number"],
.mtphr-widgets-metaboxer-list input[type="email"],
.mtphr-widgets-metaboxer-list input[type="password"],
.mtphr-widgets-metaboxer-list textarea {
	width: 100%;
}
.mtphr-widgets-metaboxer-list-item-handle,
.mtphr-widgets-metaboxer-list-item-add,
.mtphr-widgets-metaboxer-list-item-delete {
	width: 16px;
}
.mtphr-widgets-metaboxer-list td.mtphr-widgets-metaboxer-list-item-handle {
	vertical-align: middle;
	padding-left: 0;
}
.mtphr-widgets-metaboxer-list td.mtphr-widgets-metaboxer-list-item-add,
.mtphr-widgets-metaboxer-list td.mtphr-widgets-metaboxer-list-item-delete {
	vertical-align: middle;
	padding-right: 0;
}
.mtphr-widgets-metaboxer-list-item-handle span,
.mtphr-widgets-metaboxer-list-item-add a,
.mtphr-widgets-metaboxer-list-item-delete a {

	font-family: "metaphor-widgets" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

	display: block;
	width: 16px;
	height: 16px;
	font-size: 14px;
	line-height: 16px;
	text-align: center;
	text-decoration: none;
	color: #444;
}
.mtphr-widgets-metaboxer-list-item-handle span {
	font-size: 16px;
}
.mtphr-widgets-metaboxer-list-item-handle span:before {
	content: "2";
}
	.mtphr-widgets-metaboxer-list-item-handle span:hover {
		color: #1e8cbe;
		cursor: ns-resize;
	}
.mtphr-widgets-metaboxer-list-item-add a:before {
	content: "0";
}
	.mtphr-widgets-metaboxer-list-item-add a:hover {
		color: #00a651;
	}
.mtphr-widgets-metaboxer-list-item-delete a:before {
	content: "1";
}
	.mtphr-widgets-metaboxer-list-item-delete a:hover {
		color: #ed1c24;
	}

