@font-face {
  font-family: 'socialregular';
  src: url('../font/socialfont-webfont.eot');
  src: url('../font/socialfont-webfont.eot?#iefix') format('embedded-opentype'),
       url('../font/socialfont-webfont.woff') format('woff'),
       url('../font/socialfont-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

[class^="mtphr-socon-"],
[class*=" mtphr-socon-"] {
  font-family: 'socialregular';
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
}
[class^="mtphr-socon-"]:before,
[class*=" mtphr-socon-"]:before {
  text-decoration: inherit;
  display: inline-block;
  speak: none;
}
a [class^="mtphr-socon-"],
a [class*=" mtphr-socon-"] {
  display: inline;
}

/* --------------------------------------------------------- */
/* !Icons */
/* --------------------------------------------------------- */

.mtphr-socon-twitter:before {
  content: "\f000";
}
.mtphr-socon-facebook:before {
  content: "\f001";
}
.mtphr-socon-linkedin:before {
  content: "\f002";
}
.mtphr-socon-googleplus:before {
  content: "\f003";
}
.mtphr-socon-flickr:before {
  content: "\f004";
}
.mtphr-socon-tripadvisor:before,
.mtphr-socon-tridadvisor:before {
  content: "\f005";
}
.mtphr-socon-reddit:before {
  content: "\f006";
}
.mtphr-socon-posterous:before {
  content: "\f007";
}
.mtphr-socon-plurk:before {
  content: "\f008";
}
.mtphr-socon-ebay:before {
  content: "\f009";
}
.mtphr-socon-netvibes:before {
  content: "\f00a";
}
.mtphr-socon-picasa:before {
  content: "\f00b";
}
.mtphr-socon-digg:before {
  content: "\f00c";
}
.mtphr-socon-newsvine:before {
  content: "\f00d";
}
.mtphr-socon-rss:before {
  content: "\f00e";
}
.mtphr-socon-stumbleupon:before {
  content: "\f00f";
}
.mtphr-socon-aim:before {
  content: "\f010";
}
.mtphr-socon-youtube:before {
  content: "\f011";
}
.mtphr-socon-lastfm:before {
  content: "\f012";
}
.mtphr-socon-myspace:before {
  content: "\f013";
}
.mtphr-socon-msn:before {
  content: "\f014";
}
.mtphr-socon-paypal:before {
  content: "\f015";
}
.mtphr-socon-windows:before {
  content: "\f016";
}
.mtphr-socon-wordpress:before {
  content: "\f017";
}
.mtphr-socon-yahoo:before {
  content: "\f018";
}
.mtphr-socon-dribble:before {
  content: "\f019";
}
.mtphr-socon-apple:before {
  content: "\f01a";
}
.mtphr-socon-bebo:before {
  content: "\f01b";
}
.mtphr-socon-cargo:before {
  content: "\f01c";
}
.mtphr-socon-ember:before {
  content: "\f01d";
}
.mtphr-socon-evernote:before {
  content: "\f01e";
}
.mtphr-socon-googletalk:before {
  content: "\f01f";
}
.mtphr-socon-skype:before {
  content: "\f020";
}
.mtphr-socon-feedburner:before {
  content: "\f021";
}
.mtphr-socon-tumblr:before {
  content: "\f022";
}
.mtphr-socon-android:before {
  content: "\f023";
}
.mtphr-socon-bing:before {
  content: "\f024";
}
.mtphr-socon-metacafe:before {
  content: "\f025";
}
.mtphr-socon-orkut:before {
  content: "\f026";
}
.mtphr-socon-delicious:before {
  content: "\f027";
}
.mtphr-socon-amazon:before {
  content: "\f028";
}
.mtphr-socon-grooveshark:before {
  content: "\f029";
}
.mtphr-socon-deviantart:before {
  content: "\f02a";
}
.mtphr-socon-behance:before {
  content: "\f02b";
}
.mtphr-socon-vimeo:before {
  content: "\f02c";
}
.mtphr-socon-mobileme:before {
  content: "\f02d";
}
.mtphr-socon-magnolia:before {
  content: "\f02e";
}
.mtphr-socon-mixx:before {
  content: "\f02f";
}
.mtphr-socon-blogger:before {
  content: "\f030";
}
.mtphr-socon-yahoobuzz:before {
  content: "\f031";
}
.mtphr-socon-pinterest:before {
  content: "\f032";
}