/* Table of Contents

* General
* Social
* Contact

*/

/* General
------------------------------------------------------------ */

pre.mtphr-widgets-code {
	margin: 0 0 5px 0;
	padding: 10px;
	background: #FFF;
	border: 1px solid #EEE;
	white-space: normal;
	word-break: break-all;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.widget .widget-inside pre.mtphr-widgets-code p {
	margin: 0;
	word-break: break-all;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}

/* --------------------------------------------------------- */
/* !Social */
/* --------------------------------------------------------- */

.widget-mtphr-social-widget-id,
.widget-mtphr-social-shortcode {
	display: none;
}
.metaphor-widgets-social-icon-container {
	border-bottom: 1px solid #f7f7f7;
	padding-bottom: 10px;
	margin-bottom: 13px;
}
.metaphor-widgets-social-icon,
.metaphor-widgets-social-site a {
	float: left;
	display: block;
	width: 25px;
	height: 25px;
	text-align: center;
	text-decoration: none;
	background: #FFF;
	border: 2px solid #d3d3d3;
	margin: 0 5px 5px 0;
	padding: 2px;
}
.metaphor-widgets-social-site a {
	float: none;
}
.metaphor-widgets-social-icon.active {
	background: #21759b;
	border-color: #21759b;
}
.metaphor-widgets-social-icon.active:hover {
	background: #d54e21;
	border-color: #d54e21;
}
.metaphor-widgets-social-icon:not(.active):hover {
	border-color: #21759b;
}
.metaphor-widgets-social-icon i {
	font-size: 20px;
	line-height: 25px;
	color: #333;
}
.metaphor-widgets-social-icon i:before {
	line-height: 1.3;
}
.metaphor-widgets-social-site i:before {
	line-height: 1.4;
}
.metaphor-widgets-social-icon.active i {
	color: #FFF;
}
.metaphor-widgets-social-icon:not(.active):hover i {
	color: #21759b;
}
.metaphor-widgets-social-sites {
	width: 100%;
}
.metaphor-widgets-social-sites td {
	padding: 0;
}
.metaphor-widgets-social-site-icon {
	width: 1px;
}
.metaphor-widgets-social-sites input {
	width: 100%;
}
.metaphor-widgets-social-site a {
	width: 20px;
	height: 20px;
	background: #FFF;
	margin-bottom: 0;
}
.metaphor-widgets-social-site-icon a:hover {
	border-color: #21759b;
	cursor: ns-resize;
}
.metaphor-widgets-social-site i {
	font-size: 15px;
	line-height: 20px;
	color: #333;
}
.metaphor-widgets-social-site-icon a:hover i {
	color: #21759b;
}


/* Contact
------------------------------------------------------------ */

.mtphr-widget-id,
.mtphr-widget-shortcode {
	display: none;
}
